#main {
  background-color: #f6f8f8;
  display: grid;
  grid-template-areas:
    "navbar"
    "hero"
    "player";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr minmax(0, auto);
}

nav {
  grid-area: navbar;
}

main {
  grid-area: hero;
  overflow: scroll;
}

#player {
  grid-area: player;
}
