#navbar {
  background-color: #fdfefe;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#navbar a {
  text-decoration: none;
  transition: color 0.2s ease;
}

#navbar a:hover,
a:visited {
  cursor: pointer;
}

#logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

#logo img {
  width: 45px;
  height: 45px;
}

#logo:visited {
  color: black;
}

.new-channel-button {
  padding: 0.5rem;
  background-color: #40d1c6;
  border-radius: 5px;
  color: #d2ffff;
}

.new-channel-button::before {
  content: "+ ";
}
