@use "variables";

#channel-view {
  .insights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 1rem;

    > div {
      border: 1px solid #ccc;
      border-radius: 1rem;
      padding: 1rem;
      background-color: variables.$color-white;

      > h2 {
        color: variables.$color-gray;
        font-size: variables.$font-size-small;
        text-transform: uppercase;
        margin: 0;
      }

      .listeners {
        font-size: 1.5rem;
        color: variables.$green-color;
        font-weight: bold;
      }

      .remaining {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .playlist {
    display: grid;
    grid-template-areas:
      "up-next shuffle"
      "tracks tracks";
    justify-content: space-between;

    > h2 {
      grid-area: up-next;
      margin: 0 1rem;
    }

    > span {
      grid-area: shuffle;
      margin: 0 1rem;
      align-self: center;
      justify-self: end;
    }

    > ol {
      grid-area: tracks;
      list-style-type: none;
      padding: 0;
      display: grid;
      gap: 0.3rem;

      .item {
        padding: 1rem;
        display: grid;
        grid-template-columns: 64px 1fr 20px;
        background-color: variables.$color-white;
        border-bottom: 1px solid variables.$color-gray;

        > img {
          width: 64px;
          height: 64px;
          align-self: center;
          border-radius: 0.5rem;
        }

        > .data {
          padding: 0 1rem;

          > .title {
            margin: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
          }

          > .credits {
            display: block;
            color: #7d7e80;
            font-size: variables.$font-size-small;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
          }

          > .added-by {
            display: inline-block;
            background-color: #eaf8f7;
            border: 2px solid #d2f2f0;
            border-radius: 1rem;
            padding: 0 0.5rem;
            color: variables.$green-color;
            font-size: variables.$font-size-small;
          }
        }

        > .options {
          align-self: center;
        }
      }
    }
  }
}
